iframe {border:0px; width: 100vw; height: 60vw;}


div {text-align:center; margin-top: 10px;}
iframe {border:0px; width: 100vw; height: 75vw;}
input[type=range] {
  -webkit-appearance: none;
  width: 40vw;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 1vw;
  cursor: pointer;
  background: grey;
  border-radius: 0.5vw;
}
input[type=range]::-webkit-slider-thumb {
  height: 8vw;
  width: 8vw;
  border-radius: 4vw;
  background: green;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5vw;
}

table {
  top: 10px;
  position: absolute;
}
#speed {
  margin-top: 20vw;
  -webkit-transform: rotate(270deg);
  top: 10px;
  left: -150px;
  position: absolute;
  border: 1px solid transparent;
}

#button {
  background-color: red; 
  width: 80px;
  height: 80px; 
  border-radius: 40px;
  top: 440px;
  left: 10px;
  position: absolute;
  border: 1px solid transparent;
}

